$light-shades: #f0f1f1;
$light-accent: #779c9c;
$main: #10b981;
$dark-accent: #6c6e6e;
$dark-shades: #1e2027;
$primary: #0ebf7f;
$info: #1e2027;
$success: #39b45e;
$warning: #b7a426;
$danger: #f44336;
